{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Emily and Howie are getting married</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'inforsvp/style.css' %}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'inforsvp/inforsvp.js' %}"></script>
</head>

<body>
    <div class="pg-wrapper">
            <nav>
                <div class="nav-container max-width-container">
                    <div class="rsvp-container">
                        <a href="/rsvp" class="rsvp-btn">RSVP</a>
                    </div>

                    <div class="nav-secondary-container">
                        <a href="#" id="home-btn" class="secondary-nav-btn">Home</a>
                        <a href="#" id="story-btn" class="secondary-nav-btn">Our Story</a>
                        <a href="#" id="wedding-btn" class="secondary-nav-btn">Wedding</a>
                        <a href="#" id="getting-there-btn" class="secondary-nav-btn">Getting There</a>
                    </div>
                </div>
            </nav>

            <!-- <div class="spacer"></div> -->

        <div class="pad-for-nav max-width-container complete-center-column">

            <section class="core-info">
                <div class="core-info-names">
                    <p>Emily</p>
                    <p>Tam</p>
                    <p>&amp;</p>
                    <p>Paul</p>
                    <p>&#x201F;Howie&#x201D;</p>
                    <p>Benefiel</p>
                </div>
                <div class="core-info-dogs">
                    <img class="dogs-img" src="{% static 'inforsvp/dogs.svg' %}" alt="our dogs, sparky and Milo"/>
                </div>
                <div class="core-info-venue">
                    <p class="script-text">Umlauf Sculpture Garden</p>
                    <p class="venue-address">605 Azie Morton Rd.</p>
                    <p class='venue-address'>Austin, Texas</p>
                </div>
                <div class="core-info-time">
                    <p>Ceremony 5:15PM</p>
                    <p>Drinks - And - Reception</p>
                    <p>To Follow</p>
                </div>
                <div class="core-info-dates">
                    <div class="core-info-month-and-day">
                        <p class="core-info-month">Nov</p>
                        <p class="core-info-day">09</p>
                    </div>
                    <p class="core-info-dates-cta">Come eat, drink and dance your pants off</p>
                    <div class="core-info-year">
                        <p class="core-info-year">2019</p>
                    </div>
                </div>
            </section>
        </div>


        <section id="our-story" class="our-story center-column-flex">
            <div class="max-width-container center-column-flex">
                <div class="section-icon">
                    <img src="{% static 'inforsvp/book.png' %}" alt="book"/>
                </div>
                <h1 class="section-title">OUR STORY</h1>
                <p class="our-story-text">
                    Hi! Look no further! You found the website you were looking for.
                    Emily and Howie are super excited to see you at our wedding (unless you&apos;re a robot 🤖).
                </p>
                <p class="our-story-text extra-margin-bottom">
                    Depending on who you ask, you&apos;ll get a different answer about how we met.
                    However, we all agree that Emily and Howie originally met at a party Howie threw in 2014.
                    Since then, it&apos;s been nothing but love, outdoors and dogs.
                </p>
            </div>
        </section>
            <img class="full-width-img" src="{% static 'inforsvp/couple-photo-dogs_1707x1707.jpg' %}"/>


            <!-- <picture class="parallax-block"> -->
            <!-- </picture> -->

            <!-- <div class="parallax"></div> -->

            <!-- <h2 class="parallax-floater">Sup</h2> -->

            <section id="the-wedding" class="the-wedding center-column-flex">
                <div class="max-width-container center-column-flex">
                    <div class="section-icon">
                        <img src="{% static 'inforsvp/wedding-rings.png' %}" alt="Book pages"/>
                    </div>
                    <h1 class="section-title center-column-flex">THE WEDDING</h1>
                    <div class="the-wedding-content">
                        <div class="center-column-flex">
                            <h2>When</h2>
                            <p>Nov 9, 2019 5:15 PM</p>
                        </div>
                        <div class="right-half-line"></div>
                        <div class="center-column-flex">
                            <h2>Where</h2>
                            <p class="narrow-bottom-margin">605 Azie Morton Rd</p>
                            <p>Austin, TX 78704</p>
                        </div>
                    </div>
                    <div class="rsvp-container">
                        <a href="/rsvp" class="rsvp-btn">RSVP</a>
                    </div>
                </div>
            </section>


        <section id="getting-there" class="getting-there center-column-flex">
            <div class="max-width-container center-column-flex">
                <div class="section-icon">
                    <img src="{% static 'inforsvp/leaves.png' %}"/>
                </div>
                <h1 class="section-title center-column-flex">GETTING THERE</h1>
                <h2>Transportation</h2>
                <p>
                    Umlauf Sculpture Gardens is near downtown Austin, so it's accessible via Lyft and Uber.
                    If you&apos;re feeling extra adventurous, try an elctric scooter or bike.
                    Emily and I prefer Jump bikes and lyft scooters.
                </p>
                <h2>
                    Accommodations
                </h2>
                <p>
                    Check back later for some hotel options.
                </p>
            </div>
        </section>

    </div>
</body>

</html>
