{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>RSVP to Emily and Howie's Wedding</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'inforsvp/style.css' %}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'inforsvp/inforsvp.js' %}"></script>
</head>

<body>
    <div class="pg-wrapper all-viewport">
            <nav>
                <div class="nav-container max-width-container">
                    <div class="rsvp-container">
                        <a href="/rsvp" class="rsvp-btn">RSVP</a>
                    </div>

                    <div class="nav-secondary-container">
                        <a href="#" id="home-btn" class="secondary-nav-btn">Home</a>
                        <a href="#" id="story-btn" class="secondary-nav-btn">Our Story</a>
                        <a href="#" id="wedding-btn" class="secondary-nav-btn">Wedding</a>
                        <a href="#" id="getting-there-btn" class="secondary-nav-btn">Getting There</a>
                    </div>
                </div>
            </nav>

            <div class="pad-for-nav thank-you-container">
                <h1>You&apos;re registered! See you there!</h1>
            </div>
    </div>
</body>
