:root {
    --primary-bg-color: #E2D4CD;
    --contrast-color: #285e56;
    --contract-complement: #5E2830;
    --tertiary-color: #CDDBE2;
    --white: #FCFBFB;
    --desktop-width: 80%;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0;
}


/* put background images here to pre-fetch */
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; /* hide images */
   content: url('couple-photo-dogs.jpg');   /* load images */
}

nav {
    width: 100%;
    font-weight: 600;
    position: fixed;
    top: 0;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    z-index: 2;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 78px;
}

.spacer {
    width: 100%;
}

.center-column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 980px) {
    .max-width-container {
        max-width: var(--desktop-width);
    }
}

@media only screen and (min-width: 900px) and (min-width: 1098px) {
    .spacer {
        height: 8vh;
    }
}

@media only screen and (min-width: 1098px) and (min-width: 1200px) {
    .spacer {
        height: 12vh;
    }
}


@media only screen and (min-width: 1200px) {
    .spacer {
        height: 17vh;
    }
}


.complete-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pg-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.max-width-container {
    width: 100%;

}

.dogs-img {
    object-fit: contain;
}

.rsvp-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-secondary-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.all-viewport {
    height: 100vh;
}

.full-width-img {
    width: 100%;
}


.rsvp-btn {
    width: 140px;
    height: 44px;
    background-color: var(--contrast-color);
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
}

.secondary-nav-btn {
    min-width: 140px;
    min-height: 44px;

    color: var(--contrast-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "core-info-names core-info-dogs core-info-venue" "core-info-names core-info-dogs core-info-time" "core-info-dates core-info-dates core-info-dates";
    color: var(--contrast-color);
    width: 100%;
}

.core-info-dogs {
    /* https://stackoverflow.com/a/48103289 */
    background: linear-gradient(var(--contrast-color), var(--contrast-color)) right / 2px 80% no-repeat;
}

.core-info-names {
    grid-area: core-info-names;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    position: relative;
    background: linear-gradient(var(--contrast-color), var(--contrast-color)) right / 2px 80%;
    background-repeat:no-repeat;
}

.core-info-venue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4em;

    background:
     linear-gradient(var(--contrast-color), var(--contrast-color)) bottom/ 40% 2px no-repeat;
}

.core-info-venue .script-text {
    margin-bottom: 0;
}

.script-text {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 1.2em;
}

@media only screen and (min-width: 1000px) {
    .script-text {
        font-size: 1.6em;
    }
}

.venue-address {
    margin: 4px 0 4px 0;
}

.core-info-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
}

.core-info-time p {
    margin: 4px 0 4px 0;
}

.core-info-dates {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 60%;
    background: linear-gradient(var(--contrast-color), var(--contrast-color)) top/ 90% 2px no-repeat;
}

@media only screen and (min-width: 1200px) {
    .core-info-dates {
        height: 40%;
    }
}

.core-info-month-and-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.core-info-month {
    font-size: 1.3em;
    margin-bottom: 2px;
}

.core-info-day {
    font-size: 1.8em;
    margin-top: 0;
}

.core-info-year {
    font-size: 1.4em;
}

.core-info-names p {
    margin: 4px 0 4px 0;
    font-size: 2.2em;
}

.core-info-dates-cta {
    font-size: 1.4em;
}

.core-info-dogs { grid-area: core-info-dogs; }

.core-info-venue { grid-area: core-info-venue; }

.core-info-time { grid-area: core-info-time; }

.core-info-dates { grid-area: core-info-dates; }


.our-story {
    background: var(--white);
    width: 100%;
    padding-bottom: 64px;
}

.our-story-text {
    text-align: center;
    width: 70%;
    color: var(--contrast-color);
    line-height: 1.6;
}

.section-icon {
    margin-top: 80px;
    margin-bottom: 16px;
}

.section-icon img {
    max-width: 200px;
}

.section-title {
    color: var(--contrast-color);
}

.the-wedding {
    min-height: 800px;
    background: var(--white);
    width: 100%;
    color: var(--contrast-color);
}

.right-half-line {
    background: linear-gradient(var(--contrast-color), var(--contrast-color)) right / 2px 80%;
    background-repeat:no-repeat;
    width: 2px;
}

.narrow-bottom-margin {
    margin-bottom: 4px;
}

.the-wedding-content {
    margin: 64px 0 32px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.the-wedding-content p {
    font-weight: 400;
}

.the-wedding .rsvp-container {
    margin-top: 56px;
    margin-bottom: 56px;
    font-weight: 600;
}

.getting-there {
    color: var(--contrast-color);
}

.rsvp-form-container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsvp-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 56px;
}

.rsvp-form-wrapper h2 {
    font-size: 2em;
    color: var(--contrast-color);
}

.rsvp-form-wrapper form {
    display: flex;
    flex-direction: column;
    color: var(--contrast-color);
}

.form-group-wrapper div {
    display: inline-flex;
}

.form-group-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-group-wrapper .field-wrapper {
    width: 45%;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 0 8px 0;
}

form input {
    height: 48px;
    padding: 0 12px;
    border: 1px solid rgba(22,62,58, 0.2);
}

.form-field-label {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.submit-btn {
    background-color: var(--contrast-color);
    color: var(--white);
    font-size: 1.1em;
    margin: 16px 0 16px 0;
}

form {
    margin-bottom: 32px;
}

.pad-for-nav {
    padding-top: 78px;
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--contrast-color);
}

footer {
    margin-top: 24px;
    padding: 24px 0 24px 0;
    color: var(--contrast-color);
    background-color: var(--white);
    width: 100%;
}

footer a {
    color: var(--contrast-color);
}

